@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700;800&family=Roboto:wght@400;700&display=swap');

:root {

  --rojo-prime:#bf0811;
  --negro-prime: #0c0c0c;
  --Snow-white: #FFFAFA;

  --ff-titles: "Almarai", sans-serif;
  /* --ff-sub-titles: 'Biryani', sans-serif; */
  --ff-text: "Roboto", sans-serif;

  --borders: 4px;

  --almarai800: 800;
  --almarai700: 700;
  --roboto700: 700;
  --roboto400:400;

  --fs-xl: clamp(3rem, 4vw + 1rem, 10rem);
  --fs-xs: clamp(2rem, 2vw + 2rem, 6rem);
  --fs-tittles: 2rem;
  --fs-sub-tittles: 1.6rem;
  --fs-highlights: 1.2rem;
  --fs-text: 1.1rem;
}


* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: var(--ff-text);
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-size: 1.1rem;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-yellow); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-yellow-darker); 
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/******************************************DEFAULTS*********************************************/
/***********************************************************************************************/
body,
html {
  background: var(--main-white);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  color: var(--main-white);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--negro-prime);
}



/*******************************************MEDIA QUERIES*******************************************/

@media (max-width: 1483px) {


}

@media (max-width: 1280px) {

}

@media (max-width: 1150px) {/*3rem padding*/

}

@media (max-width: 950px) {

/*********NAV**********/
  .nav-links, .btn {
    display: none;
  }
  .menu {
      display: inherit;
  }



}

@media (max-width: 768px) {/*1rem padding*/
  /**********NAVBAR***********/
    .header{
      padding: 3rem 1rem;
    }




}

@media (max-width: 576px) { /*1rem padding INSIDE*/


   
}

@media (max-width: 480px) {
  /***********INTRO*************/
  .header .logo img{
    height: 40px;
  }
  /* .header .overlay a{
    font-size: 20px;
  }
  .header .overlay .close{
      font-size: 40px;
      top: 15px;
      right: 35px;
  } */

}

@media (max-width: 455px) {
  /***********INTRO*************/
  .header .logo img{
    height: 30px;
  }


  
}

@media (max-width: 350px) {
  

}

/***************************************************************************************************/