@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

:root {

  --rojo-prime:#bf0811;
  --negro-prime: #0c0c0c;
  --snow-white: #FFFAFA;

  --ff-titles: "Almarai", sans-serif;
  /* --ff-sub-titles: 'Biryani', sans-serif; */
  --ff-text: "Roboto", sans-serif;

  --borders: 4px;
  --space-btw:4rem;

  --almarai800: 800;
  --almarai700: 700;
  --roboto700: 700;
  --roboto400:400;

  --fs-xl: clamp(3rem, 4vw + 1rem, 10rem);
  --fs-xs: clamp(2rem, 2vw + 2rem, 6rem);
  --fs-titles: 2rem;
  --fs-sub-tittles: 1.6rem;
  --fs-highlights: 1.2rem;
  --fs-text: 1.1rem;
}
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: var(--ff-text);
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-size: 1.1rem;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-yellow); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-yellow-darker); 
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

/******************************************DEFAULTS*********************************************/
/***********************************************************************************************/
body, html {
  background: var(--snow-white);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--negro-prime);
}



/*******************************************MEDIAQUERIES*******************************************/
/* .hithere {
  animation: hithere 1s ease infinite;
} */
@keyframes hithere {
  30% { transform: scale(1.1); }
  40%, 60% { transform: rotate(-5deg) scale(1.1); }
  50% { transform: rotate(5deg) scale(1.1); }
  70% { transform: rotate(0deg) scale(1.1); }
  100% { transform: scale(1); }
}

/**************************************************************************************************/

@media (max-width: 1483px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 950px) {/*2 REM padding*/

}

@media (max-width: 768px) {

}

@media (max-width: 576px) { /*1 REM padding*/

}

@media (max-width: 480px) {

}

@media (max-width: 455px) {

}

@media (max-width: 350px) {

}

/***************************************************************************************************/