.slideshow-container {
  position: relative;
  background: #a8ff78;
  background: -webkit-linear-gradient(to top, #78ffd6, #a8ff78);
  background: linear-gradient(to top, #78ffd6, #a8ff78);
  padding: 2rem 0;
  margin-top: var(--space-btw);
}
.slideshow__wrap{
  width: 60%;
  position: relative;
  margin: 0 auto;
}
.mySlides {
  display: none;
  padding: 4rem 2rem;
  text-align: center;
  width: 100%;
  background: var(--snow-white);
  border: 8px inset rgba(0, 0, 0, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.mySlides img{
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  padding: 1rem;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
}
.next {
  position: absolute;
  right: 0;
}
.prev:hover, .next:hover {
  color: rgba(0,0,0,0.6);
}
.dot-container {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.mySlides p {
  font-style: italic;
}
.author {
  margin-top: 1rem;
  color: cornflowerblue;
}

/**************************************************************************************************/

@media (max-width: 1483px) {

}

@media (max-width: 1280px) {
  .slideshow__wrap{
    width: 80%;
  }
}

@media (max-width: 1150px) {

}

@media (max-width: 950px) {/*2 REM padding*/
  .slideshow-container {    
    padding: 2rem;
  }
  .slideshow__wrap{
    width: 100%;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) { /*1 REM padding*/
  .slideshow-container {    
    padding: 2rem 1rem;
  } 

}

@media (max-width: 480px) {

}

@media (max-width: 455px) {

}

@media (max-width: 350px) {

}

/***************************************************************************************************/